<app-grade 
  [Colunas]= "columns"
  [Linhas] = "rows" 
  [BtnAction]="true"
  [BtnEditar]="false" 
  [BtnDeletar]="false"
  [BtnIncluir]="false"
  [CamposBusca]="configSearch"
  [Expansible]="true"
  [check]="true"
  [CheckedRows]="selectedRows"
  [actionButton]="true"
  [ActionButtonStatus]="selectedRows.length > 0"
  actionButtonCaption="Registrar Conformidade Legal"
  PropertyToExpanse="document_item_description"
  (IncluirRegistro)="openForm('')"
  (EditarRegistro)="openForm($event.registro)"
  (PesquisarRegistro)="getAuditRequirements($event.parametro)" 
  (actionButtonEvent)="openForm('')" 
  (ActionRegistro)="handleActionPlan($event.registro)"
  [BtnAttachment]="true"
  (AttachementRegistro)="handleAttachmentDownload($event.registro)"
  (CheckRegistro)="handleCheck($event.registro, $event.status)"
  [MostrarBarraBusca]="true" 
  [syncOnInit]="syncInit"
  (filterValueChange)="onFilterValueChange($event.type, $event.value)"
  initFilterOpened="true"
>  
</app-grade>